<p>
  <b>Name:</b>
  <%= @source.name %>
</p>

<p>
  <b>Description:</b>
  <%= @source.description %>
</p>

<p>
  <b>Url:</b>
  <%= @source.url %>
</p>


<% if can? :update, @source %>
  <%= link_to 'Edit', edit_source_path(@source) %> |
<% end %>
<%= link_to 'Back', sources_path %>
