<h1>Listing users</h1>

<% if @users.count > 0 %>
  <table>
    <tr>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Is admin</th>
      <th></th>
      <th></th>
    </tr>

    <% @users.each do |user| %>
      <tr class="<%= cycle("odd", "even") -%>">
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.is_admin %></td>
        <% if can? :update, user %>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <% end %>
        <% if can? :destroy, user %>
          <td><%= link_to 'Destroy', user, :confirm => ('Are you sure you want to remove ' + user.email + ' ?'), :method => :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  <p> There are no users entered in the system. </p>
<% end %>
<br />
<% if can? :create, @user %>
  <%= link_to 'New User', new_user_path %>
<% end %>
