<%= form_for([@app, @app_version]) do |f| %>
  <% if @app_version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app_version.errors.count, "error") %> prohibited this app_version from being saved:</h2>

      <ul>
      <% @app_version.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
