<h1> <%=h @app.name %> Versions</h1>

<% if @app.app_versions.count > 0 %>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @app_versions.each do |app_version| %>
  <tr class="<%= cycle("odd", "even") -%>">
    <td><%= app_version.name %></td>
    <td><%= app_version.description %></td>
      <td><%= link_to 'Show', [@app, app_version] %></td>
      <% if can? :update, app_version %>
        <td><%= link_to 'Edit', edit_app_app_version_path(@app, app_version) %></td>
      <% end %>
      <% if can? :destroy, app_version %>
        <td><%= link_to 'Destroy', [@app, app_version], :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
  </tr>
<% end %>
</table>

  <br />
<% else %>
  <p><%=h @app.name %> does not have any versions yet.</p>
<% end %>

<% if can? :create, @app_version %>
  <%= link_to 'New App version', new_app_app_version_path(@app) %> |
<% end %>
<%= link_to 'Back', @app %>

