<p id="notice"><%= notice %></p>

<p>
  <b>App:</b>
  <%= @app.name %>
</p>

<p>
  <b>Name:</b>
  <%= @app_version.name %>
</p>

<p>
  <b>Description:</b>
  <%= @app_version.description %>
</p>


<%= link_to 'Edit', edit_app_app_version_path(@app, @app_version) %> |
<%= link_to 'Back', app_app_versions_path(@app) %>
