<%= form_for([@app, @app_feature]) do |f| %>
  <% if @app_feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app_feature.errors.count, "error") %> prohibited this app_feature from being saved:</h2>

      <ul>
      <% @app_feature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :feature_id %><br />
    <%= f.select :feature_id, @features %>
  </div>
  <div class="field">
    <%= f.label :feature_status_id %><br />
    <%= select(:app_feature, :feature_status_id, @feature_statuses, {:prompt => 'Status'}) %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
