<p>
  <b>Name:</b>
  <%= @vendor.name %>
</p>

<p>
  <b>Description:</b>
  <%= @vendor.description %>
</p>

<p>
  <b>Url:</b>
  <%= @vendor.url %>
</p>

<p>
  <b>Phone:</b>
  <%= @vendor.phone %>
</p>

<p>
  <b>Contact:</b>
  <%= @vendor.contact %>
</p>

<% if can? :update, @vendor %>
  <%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<% end %>
<%= link_to 'Back', vendors_path %>
