<h1>Feature Categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Features</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feature_categories.each do |feature_category| %>
  <tr>
    <td><%= feature_category.name %></td>
    <td><%= feature_category.description %></td>
    <td><%= feature_category.features.count %></td>
    <td><%= link_to 'Show', feature_category %></td>
    <td><%= link_to 'Edit', edit_feature_category_path(feature_category) %></td>
    <td><%= link_to 'Destroy', feature_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feature category', new_feature_category_path %>
