<p>
  <b>Feature category:</b>
  <%= @feature.feature_category.name %>
</p>

<p>
  <b>Name:</b>
  <%= @feature.name %>
</p>

<p>
  <b>Description:</b>
  <%= @feature.description %>
</p>


<%= link_to 'Edit', edit_feature_category_feature_path(@feature_category, @feature) %> |
<%= link_to 'Back', feature_category_features_path(@feature_category) %>
