<!DOCTYPE html>
<html>
<head>
  <title>ILS Compare</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">
    <header>
      <%= render 'partials/nav' %>
    </header>
    <div id="user_nav">
      <% if current_user %>
        <%= link_to "Logout", session, :confirm => 'Are you sure you wish to log out?', :method => 'logout'  %>
      <% else %>
        <%= link_to "Login", new_session_path %>
      <% end %>
    </div>

    <div class="notifications">
      <% if alert %>
        <p id="alert"><%= alert %></p>
      <% end %>
      <% if notice %>
        <p id="notice"><%= notice %></p>
      <% end %>
    </div>

    <div id="main" role="main">
      <%= yield %>
    </div>

    <footer>

    </footer>
  </div>

</body>
</html>
